<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Customer List</h1>
    <div th:each="customer : ${customers}">
        <div>
            <p th:text="${customer.firstName}"></p> <!-- Fill in to display task title -->
            <p th:text="${customer.lastName}"></p>  <!-- Fill in to display task description -->
            <p><span th:text="${customer.email}"></span></p>
            <p><span th:text="${customer.phoneNumber}"></span></p><!-- Fill in to display task status -->
            <a th:href="@{/customers/customer/{id}(id=${customer.id})}">View Customer</a>
            <a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit Customer</a>
            <a th:href="@{/customers/delete/{id}(id=${customer.id})}">Delete</a><!-- Fill in to generate the delete link -->

        </div>
    </div>
    <a href="/customers/new">Create Customer</a>
    <a th:href="@{/customers/deleteAll}">Delete All</a>

</body>
</html>