<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${driver}">
    <div>
        <p th:text="${driver.firstName}"></p> <!-- Fill in to display task title -->
        <p th:text="${driver.lastName}"></p>  <!-- Fill in to display task description -->
        <p><span th:text="${driver.email}"></span></p>
        <p><span th:text="${driver.phoneNumber}"></span></p><!-- Fill in to display task status -->
    </div>
    <div th:each="vehicle: ${driverVehicles}">
        <p th:text="${vehicle.model}"></p>
        <a th:href="@{/vehicles/delete/{id}(id=${vehicle.id})}">Delete Vehicle</a>
    </div>
</div>
<a th:href="@{/drivers/edit/{id}(id=${driver.id})}">Edit Driver</a>
<a th:href="@{/vehicles/new/{id}(id=${driver.id})}">Add Vehicles</a>

</body>
</html>