<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Reservation Info</h1>
    <div th:object="${reservation}">
        <div>
            <p th:text="${reservation.pickupAddress}"></p> <!-- Fill in to display task title -->
            <p th:text="${reservation.dropoffAddress}"></p>  <!-- Fill in to display task description -->
            <p><span th:text="${reservation.date}"></span></p>
            <p><span th:text="${reservation.time}"></span></p><!-- Fill in to display task status -->
        </div>
       <div th:object="${customer}">
           <p th:text="${customer.firstName + ' ' + customer.lastName}"></p>
       </div>
        <div>
            <a th:href="@{/reservations/edit/{id}(id=${reservation.id})}">Edit Reservation</a>
        </div>
    </div>

</body>
</html>